@font-face {
    font-family: dacasaF;
    src: url("fonts/dacasa/dacasa.ttf");
}

@import  url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-image: url("img/bg3a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#appName{

    font-family: 'Kranky', cursive;
}

#main{
    background-color: rgba(0,0,0,0.5 ); !important;
    margin-top: 50px;
    margin-left:40px;
    margin-right:40px;
    padding:none;
    height: 90vh;
}
.card{
    background:transparent; !important;
    border-color: black;
    opacity: 0.7;
    margin:5vh;
    height: 80vh;
    background-color: rgba(221, 221, 221, 0.2   ); !important;

}
#submit, #submit0{
    border-radius: 50px;
    border-color: #d3d34f !important;
    font-size:2vh;
    width: 15vh;
    background-color: rgba(193, 193, 193, 0.6);
    padding:1vh !important;
    font-weight: bold;
    color:white;
    border-width: 2px !important;
}
#submit:hover, #submit0:hover{
    background-color: rgba(225, 225, 225, 0.8);
    font-weight: bolder;
    color:black;
}
#loginHead{
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    margin-top:7vh;
    color: #585757 !important;
}
#icon{
    font-size: 6vh;
    margin-top: 2vh;
}

#fbIcon,#GoogleIcon, #TwitterIcon, #GitIcon{
    padding:3vh;
}
#fbIcon{
    color: #3b5998;
}
#TwitterIcon{
    color: #1DA1F2;
}
#GoogleIcon{
    color:#db4437;
}
#GitIcon{
  color:dimgrey;
}
#fbIcon:hover,#GoogleIcon:hover, #TwitterIcon:hover, #GitIcon:hover {
    cursor: pointer;
    color:black;
}

#login, #sign{
       font-family: 'Montserrat', sans-serif;
       font-size:5vh;
       color: #000000 !important;
}
#b1{
    margin-top:10vh;
}
.btn0{
    background: none;
    color: #010101;
    font-family: 'Montserrat', sans-serif;
    font-size:2vh;
    border-radius:50px;
    padding:1vh;
    width: 30vh;
}
.btn0:hover{
    color:black !important;
    font-weight: bold;
}

.btn0:focus{

    background: none !important;
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #fffbfb !important;
    color: #dfdeff !important;
    font-weight: bold;!important;
    text-decoration: none !important;
    overflow-x: hidden;
}
.tabs .tab a:hover, .tabs .tab a.active , .tabs .tab a{
    background-color: rgba(0,0,0,0.6 )!important;
    color: #e3e5ef !important;
    font-size:2.6vh;
    text-decoration: none !important;
    overflow-x: hidden;
}
.card-tabs{
    font-family: 'Montserrat', sans-serif;
    color: #9f753b !important;
}
.card-content{
    font-family: 'Montserrat', sans-serif;
    font-size:3vh;
    text-align: center;
    color: #ffefde !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #dcd9d9 !important;
}

#alternateLogin{
    background-color: rgba(255, 255, 255); !important;
}

#head1{
    /*font-family: 'Pacifico', cursive;*/
    /*font-family: 'Dawning of a New Day', cursive;*/
    /*font-family: 'Barrio', cursive;*/
    /*font-family: 'Syncopate', sans-serif;*/
    /*font-family: 'Spirax', cursive;*/
    font-family: 'Kranky', cursive;
    margin-top: -22vh;
    margin-left: 14vh;
    font-size: 15vh;
    color: whitesmoke;
    text-shadow: 4px 4px 4px darkslategrey;
}


/*codepen tagged css*/
