@font-face {
    font-family: dacasaF;
    src: url("fonts/dacasa/dacasa.ttf");
}

@import  url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-image: url("img/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card{
    margin-top: 50px;
    margin-right: 90px;
    background-color: rgba(0,0,0,0.5 ); !important;
    width:60%;
}
#login, #sign{
       font-family: 'Montserrat', sans-serif;
       font-size:5vh;
       color:yellow !important;
}
.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #efa317!important;
    color: yellow !important;
}
.tabs .tab a:hover, .tabs .tab a.active , .tabs .tab a{
    background-color: rgba(0,0,0,0.6 )!important;
    color: #e4ef06 !important;
    font-size:2.6vh;
}
.card-tabs{
    font-family: 'Montserrat', sans-serif;
    color:yellow !important;
}
.card-content{
    font-family: 'Montserrat', sans-serif;
    font-size:3vh;
    text-align: center;
    color:yellow !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: yellow !important;
}
.parallelogram {
    width: 80vh;
    height: 20vh;
    position: relative;
    z-index: -100;
    margin-top: 10vh;
    margin-left: 18vh;
    transform: skew(20deg);
    background: rgba(255, 255, 0 ,0.3);
}
.rectangle {
    width: 80vh;
    height: 20vh;
    background-color: #555;
}

#head1{
    /*font-family: 'Pacifico', cursive;*/
    /*font-family: 'Dawning of a New Day', cursive;*/
    /*font-family: 'Barrio', cursive;*/
    /*font-family: 'Syncopate', sans-serif;*/
    /*font-family: 'Spirax', cursive;*/
    font-family: 'Kranky', cursive;
    margin-top: -22vh;
    margin-left: 14vh;
    font-size: 15vh;
    color: whitesmoke;
    text-shadow: 4px 4px 4px darkslategrey;
}


/*codepen tagged css*/
