@font-face {
    font-family: dacasaF;
    src: url("fonts/dacasa/dacasa.ttf");
}

@import  url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-image: url("img/bg3a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#appName{
    font-family: 'Kranky', cursive;
    font-size: 3vh !important;
}

#main{
    background-color: rgba(0,0,0,0.5 ); !important;
    width:80vh;
    margin-left:40px;
    margin-right:40px;
    padding:none;
    height: 100vh !important;
}
.nav-item{
    color: navajowhite !important;
}
.nav-item:hover{
    border: none!important;
    color: #db9a47 !important;
}
.card{
    background:transparent; !important;
    border-color: black;
    opacity: 0.7;
    margin:5vh;
    height: 80vh;
    background-color: rgba(221, 221, 221, 0.2   ); !important;

}
#i1{
    height:15vh;
    width:auto;
}

#formSignup{
    padding: 3vh;
    padding-top: 4vh;
    border-radius: 2px;
    margin-top: 3vh;
    width:60vh;
}

#formLogin{
    padding: 3vh;
    padding-top: 4vh;
    border-radius: 2px;
    margin-top: 3vh;
    width:60vh;
}
.form-control{
    margin-bottom: 3vh;
    padding: 1vh;
    border-radius: 20px !important;
    background-color: rgba(255, 255, 255, 0.1);
}

#submit, #submit0{
    border-radius: 50px;
    border-color: #d3d34f !important;
    font-size:2vh;
    width: 15vh;
    background-color: transparent !important;
    padding:1vh !important;
    font-weight: bold;
    color:white;
    border-width: 2px !important;
}
#submit:hover, #submit0:hover{
    cursor: pointer;

    background-color: rgba(68, 68, 68, 0.5) !important;
    font-weight: bolder;
    color:black;
}
#loginHead{
    font-family: 'Montserrat', sans-serif;
    font-size: 2vh;
    margin-top:7vh;
    color: #f6f4f4 !important;
}
#icon{
    font-size: 6vh;
    margin-top: 2vh;
}

#fbIcon,#GoogleIcon, #TwitterIcon, #GitIcon{
    padding:3vh;
}
#fbIcon{
    color: #3b5998;
}
#TwitterIcon{
    color: #1DA1F2;
}
#GoogleIcon{
    color:#db4437;
}
#GitIcon{
  color: #b9b9b9;
}
#fbIcon:hover,#GoogleIcon:hover, #TwitterIcon:hover, #GitIcon:hover {
    cursor: pointer;
    color:black;
}

#login, #sign{
       font-family: 'Montserrat', sans-serif;
       font-size:5vh;
       color: #000000 !important;
}
#b1{
    margin-top:10vh;
}
.btn0{
    background: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size:2vh;
    border-radius:50px;
    padding:1vh;
    width: 30vh;
}
.btn0:hover{
    color: #fbffb5 !important;
    font-weight: bold;
}

.btn0:focus{

    background: none !important;
}


.card-content{
    font-family: 'Montserrat', sans-serif;
    font-size:3vh;
    text-align: center;
    color: #ffefde !important;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #dcd9d9 !important;
}

#alternateLogin{
    background-color: rgba(255, 255, 255); !important;
}

#head1{
    /*font-family: 'Pacifico', cursive;*/
    /*font-family: 'Dawning of a New Day', cursive;*/
    /*font-family: 'Barrio', cursive;*/
    /*font-family: 'Syncopate', sans-serif;*/
    /*font-family: 'Spirax', cursive;*/
    font-family: 'Kranky', cursive;
    margin-top: -22vh;
    margin-left: 14vh;
    font-size: 15vh;
    color: whitesmoke;
    text-shadow: 4px 4px 4px darkslategrey;
}

/*codepen tagged css*/
