body {
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-image: url("img/bg3a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.nav1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    font-weight: bold;
    background-color: rgba(255,255,255,0.7) !important;
    color: black;
    padding-right: 10px; !important;
    padding-bottom: 1px;  !important;

}
#i1{
    height: 50px;
    width: 50px;
}
#you_may_know, #freq_contact{
    background-color: rgba(255,255,255,0.9) !important;
    display:block;
    height:90vh;
    padding:2vh;
    border:1px solid black;
    border-radius: 20px;
    /*background-color: rgba(145, 154, 152, 0.1);*/
    margin:2vh;
}

#searchBox1{
    padding-top: 2vh !important;
}
#tag1{
    margin-left: 5vh;
}
#tag1,#tag2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vh;
    font-weight: bold;
    color: black;
    padding-top: 2vh;
}
#messages{
    max-height:100px !important;
    display:block;
    width:100%;
    height:600px;
    padding:2vh;
    border:1px solid black;
    border-radius: 20px;
    background-color: rgba(248, 248, 255, 0.1);
}
#msg{
    margin-top: 10px;
    display:block;
    width:70%;
    height:30px;
    padding:2vh;
    border:1px solid black;
    border-radius: 20px;
    background-color: rgba(250, 210, 0, 0.1);
}
#submit{
    margin-top: 10px;
    display:block;
    width:15%;
    height:40px;
    padding:0.3vh;
    border:1px solid black;
    border-radius: 20px;
    background-color: rgba(145, 154, 152, 0.1);
}
.main{
    display:block;
    height:50px;
    /*padding:2vh;*/
    /*border:1px solid black;*/
    /*border-radius: 20px;*/
    /*background-color: rgba(145, 154, 152, 0.1);*/
}
.contLeft{
    height: 130% !important;
    display: block;
}

/*Media queries*/
@media only screen
and (max-device-width : 700px)
{
    #you_may_know, #freq_contact{
        margin-left: 2vh;!important;
        margin-right:2vh; !important;
    }
}